.parkoplan-grid {
    max-width: 900px;
}
.parkoplan-navigation .mdl-navigation__link {
    line-height: 56px;
    margin-top: 4px;
    margin-bottom: 4px;
    border-bottom: 4px solid transparent;
}
.parkoplan-navigation .mdl-navigation__link:hover {
    border-bottom: 4px solid white;
}
.mdl-layout-title {
    white-space: nowrap;
    margin-top: 4px;
}
.mdl-layout-title a {
    color: white;
    text-decoration: none;
}
.mdl-layout-title img {
    /* margin-right: 10px; /* Uncomment if you decide to split logo and title */
}
